node_modules/*
node_modules/
.node_modules
*.bundle.*
lib/
node_modules/
.eslintcache
.stylelintcache
*.egg-info/
examples/.ipynb_checkpoints/
*.tsbuildinfo
dist/
.DS_Store
*/labextension/
*/nbextension/index.js
__pycache__
guidedstats/labextension
guidedstats/nbextension
docs/
