node_modules/
*.bundle.*
lib/
node_modules/
.eslintcache
.stylelintcache
*.egg-info/
examples/.ipynb_checkpoints/
*.tsbuildinfo
dist/
.DS_Store
.vscode/
*/__pycache__/
*/labextension/
*/nbextension/index.js
