*.bundle.*
dist/
docs/
lib/
node_modules/
paper/
*/.ipynb_checkpoints/
*.egg-info/
.eslintcache
.stylelintcache
*.tsbuildinfos
.DS_Store
*/labextension/
*/nbextension/index.js
__pycache__
guidedstats/labextension
guidedstats/nbextension
